.search {
  &__input,
  &__button {
    color: white;
    font-weight: 500;
    border: none;
    margin: 0;
  }

  $radius: 2px;

  &__input {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
    padding: 15px;
    color: #959595;
    width: 30vmax;

    &::placeholder {
      color: #959595;
    }
  }

  &__button {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
    min-width: 10vw;
    cursor: pointer;
    background-color: #ff9801;
    padding: 12px;
    padding-bottom: 12px;
    padding-top: 14.3px;
    border: none;
  }
}
